<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <select name="苹果" id="苹果" v-model="fruit">
        <!-- <option value="苹果">苹果</option>
      <option value="香蕉">香蕉</option>
      <option value="火龙果">火龙果</option>
      <option value="梨子">梨子</option>
      <option value="葡萄">葡萄</option> -->
        <option v-for="fruit of fruits" :value="fruit" :key="fruit">
          {{fruit}}
        </option>
      </select>
      <h2>你选择的水果是{{ fruit }}</h2>
    </div>
    <script src="/js/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          fruit: '梨子',
          fruits: ['苹果', '香蕉', '火龙果', '梨子', '葡萄'],
        },
      });
    </script>
  </body>
</html>
