.message-input-box {
  // position: fixed;
  // bottom: 0;
  height: 60px;
  width: calc(900px * 0.8);

  textarea {
    height: 80%;
    width: 88%;
    outline: none;
    padding: 0;
    margin: 6px 0 6px 10px;
  }

  button {
    cursor: pointer;
    height: 80%;
    width: 10%;
    color: #fff;
    padding: 0;
    border: 0;
    background: #1890ff;
    border-color: #1890ff;
    vertical-align: top;
    margin-top: 6px;

    &:focus {
      color: #fff;
      background: #40a9ff;
      border-color: #40a9ff;
      outline: 0;
    }
  }
}
